# ====== Python ======
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
*.sqlite3

# ====== Data ======

models/
mlruns/
outputs/

# ====== Virtual environment ======
hdbscan_env/
venv/
.env/
*.env
data/raw/Crimes_-_2001_to_Present_20251025.csv
data/processed/sample_500000_rows.csv
# ====== Streamlit / Logs ======
.streamlit/secrets.toml
logs/
.env
.DS_Store

# ====== IDEs ======
.vscode/
.idea/
*.swp
